<ion-view view-title="朗观设计" hide-nav-bar="true" id="tourView">
    <ion-slide-box  auto-play="true" show-pager="true" slide-interval="1000">
        <ion-slide>
            <img src="images/tour09.jpg">
        </ion-slide>
        <ion-slide>
            <img src="images/tour08.jpg">
        </ion-slide>
        <ion-slide>
            <img src="images/tour03.jpg">
            <button class="button enterBtn button-positive" ui-sref="tabs.home">Enter</button>
            <br><br><br>
        </ion-slide>
    </ion-slide-box>
</ion-view>