<ion-view view-title="关于我们">
    <ion-content>
        <!--顶部-->
        <div class="aboutTop">
            <div class="row" style="background: #5b8b27; height:300px;margin-bottom: 0;">
                <div class="col col-30 lgTxt"><p><span>LG</span><br>Design Your Future</p></div>
                <div class="col"></div>
            </div>
            <div class="row" style="height:80px;margin-bottom: 0;">
                <div class="col col-10" style="background-color:#93c049"></div>
                <div class="col" style="background: #33541b"></div>
            </div>
            <div class="aboutPic"><img src="images/tour04.jpeg"></div>

        </div>

        <!--切换-->
        <div class="aboutTabs">
            <ul class="row abTabBtn" style="height: 500px;">
                <li class="col"><a href="javascript:;" class="current"><i class="icon ion-document-text"></i></a>简介</li>
                <li class="col"><a href="javascript:;"><i class="icon ion-android-bulb"></i></a>理念</li>
                <li class="col"><a href="javascript:;"><i class="icon ion-ios-chatbubble"></i></a>评价</li>
                <li class="col"><a href="javascript:;"><i class="icon ion-android-person-add"></i></a>招聘</li>
            </ul>
        </div>

        <div id="abContent">
            <div>
                <h3>朗观简介</h3>
                <div><img src="images/tour07.jpg"></div>
                <p>上海朗观装饰设计工程有限公司成立于1997年，由香港L&G设计事务所与数位上海装饰设计界资深人士合作组建，一贯秉承'Design Your Future'的理念，立足上海，放眼世界，引进最新的国际潮流，十余年来为众多的社会精英和都市白领提供一流的设计，高品质的的施工与专业的服务，并为多家地产开发商提供楼盘样板房的设计、施工以及软装配套服务，在上海室内设计装饰界拥有相当的知名度和美誉度。</p>
            </div>
            <div>
                <h3>我们的设计理念</h3>
                <div><img src="images/tour06.jpeg"></div>
                <p>住宅不等于家，朗观致力于为您量身打造，让房子成为家的一切。</p>
            </div>
            <div>
                <h3>来自客户的评价</h3>
                <div><img src="images/bg13.jpg"></div>
                <p>非常满意的一次装修之旅，省事省力省钱，感谢朗观！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--王小姐</p>
                <p>施工质量可靠！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--赵先生</p>
                <p>非常感谢设计师！&nbsp;&nbsp;&nbsp; --周先生</p>
                <form class="speak"></form>
            </div>
            <div>
                <h3>我们需要你</h3>
                <div><img src="images/flow04.jpg"></div>
                <p>室内设计师:<br>1.室内设计、环境艺术、建筑学等相关专业专科及以上学历；<br>2.3-5年室内装饰设计工作经验；<br>3.能够熟练应用CAD、Photoshop、3DMAX等基本设工具；<br>4.较强的学习能力，创新能力和审美意识，熟悉项目从设计到施工的运作流程。</p>
            </div>
        </div>

        <!--介绍-->
        <div class="someUser">
            <div class="someInfo has-tabs">
                <p>朗观设计机构</p>
                <p>Design Your Future</p>
                <p>香港L&G设计事务所&&上海装饰设计界资深人士协作</p>
                <p>Total Solution</p>
            </div>
        </div>
    </ion-content>
</ion-view>